.lis{
    margin-left: 100px;
}
#b{
   width: 100px;
   height: 100px;
}
#c{
   
    margin-right: 300px;
    
}
.display{
    display: none;
}


 title: {
    color: red
  }
  titleBar: {
    background:
      'linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%)'
  }
  
  body{
      color: red
  }
  .divnou{
      margin: 100px;
      margin-top: 50px;
     
      
  }
  
   .root: {
    display: 'flex';
    flexWrap: 'wrap';
    justifyContent: 'space-around';
    overflow: 'hidden';
    backgroundColor: red;
  }
  .gridList: {
    flexWrap: 'nowrap';
    transform: 'translateZ(0)'
  }
  title: {
    color: blue;
  }
  .titleBar: {
    background:
      'linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%)',
  }